/.venv
/data
/docs
/notebooks
/README.md
/requirements.txt
/src
/test
/test2.py
/test3.py
/NumPyBasics
/images
/PandasBasics
/Matplotlib
/Lecture31
/ScikitLearnBasics
/SBasics_for_SVM
/Linear_models_for_regression