/.venv
/.venv_3_11
/data
/docs
/notebooks
/README.md
/requirements.txt
/src
/test
/test2.py
/test3.py
/NumPyBasics
/images
/PandasBasics
/Matplotlib
/Lecture31
/ScikitLearnBasics
/SBasics_for_SVM
/Linear_models_for_regression
/sAANs'
/SDecisionTreeBasics
/sFeatureEngineering
/Naive_Bayes_Classifiers
/model_evaluation_and_optimization